
html {
    background-color: #fff
}

code {
    background-color: #eee;
    color: #700;
}

a { color: #e56; }
a:visited { color: #e56; }
a:active { color: #56e; }

.tile {
    color:#000;
    background-color: #eee;
    box-shadow: 2px 2px 5px 0px;
    margin: 5px;
    width:20vw;
    height:25vw;
    display: inline-block;
}
a:active .tile {
    box-shadow: none;
}